doctype html
block html
  - const basePath = locale === 'en' ? '' : '../'

  html(lang=lang)
    head
      block head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="theme-color" content=themeColor)
        title= pageTitle
        link(rel="icon", href=basePath + "img/favicon.ico", type="image/x-icon")
        link(rel="stylesheet", href=basePath + "css/style.min.css")
    body.inner-page
      block content
      //block scripts
      //  script(src=basePath + "js/cookie.js")
