-
  const mediaPartners = [
    {
      id: 4,
      href: 'https://affpro.com/ru',
      img: 'img/affpro.png',
      alt: 'AffPro',
      width: 1373,
      height: 346
    },
    {
      id: 4,
      href: 'https://ahri.devils.inc/',
      img: 'img/ahri.png',
      alt: 'ahri',
      width: 1915,
      height: 400
    },
    {
      id: 37,
      href: 'https://traffic-devils.webflow.io/',
      img: 'img/devils.svg',
      alt: 'devils',
      width: 412,
      height: 342
    },
    {
      id: 4,
      href: 'https://andflint.com/',
      img: 'img/glintgroup.svg',
      alt: 'glintgroup',
      width: 880,
      height: 398
    },
    {
      id: 4,
      href: 'https://cgs.group/#affiliates',
      img: 'img/cg-solutions.png',
      alt: 'cg-solutions',
      width: 200,
      height: 128
    },
    {
      id: 33,
      href: 'https://gambeat.io/',
      img: 'img/gambeat.svg',
      alt: 'Gambeat',
      width: 140,
      height: 28
    },
    {
      id: 33,
      href: 'https://growe.partners/',
      img: 'img/growe.svg',
      alt: 'growe',
      width: 186,
      height: 78
    },
    {
      id: 33,
      href: 'https://www.instagram.com/frbs.team.eng/?igsh=dzgzMHhkYTh5cDF5#',
      img: 'img/frbs.png',
      alt: 'frbs',
      width: 278,
      height: 97
    },
    {
      id: 33,
      href: 'https://www.instagram.com/yosa_live/',
      img: 'img/yosa.svg',
      alt: 'yosa',
      width: 1100,
      height: 330
    },
    {
      id: 33,
      href: 'https://ppc.club/',
      img: 'img/ppc-club.png',
      alt: 'ppc-club',
      width: 800,
      height: 800
    },
    {
      id: 33,
      href: 'https://www.alreadymedia.com/',
      img: 'img/alreadi-media.svg',
      alt: 'alreadi-media',
      width: 99,
      height: 39
    },
    {
      id: 37,
      href: 'https://arbitrageup.net/',
      img: 'img/arbitrage.svg',
      alt: 'Arbitrage Up',
      width: 67,
      height: 48
    },
    {
      id: 5,
      href: 'https://t.me/buyermedia',
      img: 'img/buyer-media.png',
      alt: 'Buyer Media',
      width: 95,
      height: 77
    },
    {
      id: 18,
      href: 'https://leadpanda.media/',
      img: 'img/panda-media.svg',
      alt: 'Lead Panda',
      width: 135,
      height: 52
    },
    {
      id: 15,
      href: 'https://www.clickdealer.com/',
      img: 'img/click-dealer.svg',
      alt: 'Click Dealer',
      width: 140,
      height: 34
    },
    {
      id: 4,
      href: 'https://didglobal.biz/?utm_source=google&utm_medium=cpc&utm_content=didglobal_100&utm_term=didglobal&utm_source=google&utm_medium=cpc&utm_campaign=bof_search_ukraine_brand_ua&utm_term=%D0%B4%D0%B8%D0%B4%20%D0%B3%D0%BB%D0%BE%D0%B1%D0%B0%D0%BB&gad_source=1&gad_campaignid=21908285747&gbraid=0AAAAA9jwUFuDcE0dHrNXtEe3LAjlWc3Uk&gclid=Cj0KCQiAjJTKBhCjARIsAIMC449XkOwrPQFvjXVBD7tQMzD2ygWINL_-Cx-Zi2XmY5jlbl-4hjxwfugaAvJkEALw_wcB',
      img: 'img/DID-Global.svg',
      alt: 'Did Global',
      width: 415,
      height: 70
    },
    {
      id: 6,
      href: 'https://everad.com/',
      img: 'img/everad.svg',
      alt: 'Everad',
      width: 134,
      height: 27
    },
    {
      id: 16,
      href: 'https://fellows.team/',
      img: 'img/fellows.svg',
      alt: 'Fellows',
      width: 124,
      height: 40
    },
    {
      id: 16,
      href: 'https://tsquad.net/',
      img: 'img/traffic_squad.png',
      alt: 'traffic_squad',
      width: 200,
      height: 78
    },
    {
      id: 16,
      href: 'https://www.instagram.com/holytraff/',
      img: 'img/HolyTraff.png',
      alt: 'HolyTraff',
      width: 840,
      height: 588
    },
    {
      id: 29,
      href: 'https://hrcommunity.pro/',
      img: 'img/hr_logo.png',
      alt: 'HR Community',
      width: 297,
      height: 114
    },
    {
      id: 18,
      href: 'https://improveads.agency/',
      img: 'img/improve.svg',
      alt: 'Improve Ads',
      width: 129,
      height: 35
    },
    {
      id: 18,
      href: 'https://www.ku.partners/',
      img: 'img/ku-partners.png',
      alt: 'KU Partners',
      width: 349,
      height: 109
    },
    {
      id: 18,
      href: 'https://www.instagram.com/2b_digital.agency/',
      img: 'img/2b_digital.svg',
      alt: '2b digital',
      width: 219,
      height: 65
    },

    {
      id: 15,
      href: 'https://affiliate.makeberry.com/',
      img: 'img/makeberry.svg',
      alt: 'makeberry',
      width: 714,
      height: 161
    },
    {
      id: 8,
      href: 'https://www.instagram.com/onemedia.io/?hl=en',
      img: 'img/one-media.svg',
      alt: 'One Media',
      width: 105,
      height: 29
    },
    {
      id: 11,
      href: 'https://onepartners.io/',
      img: 'img/one-partners.svg',
      alt: 'One Partners',
      width: 86,
      height: 41
    },
    {
      id: 9,
      href: 'https://palai.media/',
      img: 'img/palai-media.svg',
      alt: 'Palai Media',
      width: 125,
      height: 25
    },
    {
      id: 25,
      href: 'https://salesdoubler.pro/',
      img: 'img/salesdoubler.svg',
      alt: 'Sales Doubler',
      width: 300,
      height: 82
    },
    {
      id: 3,
      href: 'https://spaceprofit.team/',
      img: 'img/spt.svg',
      alt: 'Space Profit Team',
      width: 107,
      height: 75
    },
    {
      id: 8,
      href: 'https://choko.link/gentle_partners?fbclid=PAQ0xDSwMJUPNleHRuA2FlbQIxMQABp9HN3iglHmtf2MBROn8LCQs3pHkIC1tzcyK0F1uX9yB7e76CY3z9YAZFoebJ_aem_Y6XfGQkWeY4jnD0_6JCdlA',
      img: 'img/GP2.png',
      alt: 'Gentle Partners',
      width: 771,
      height: 240
    },
    {
      id: 28,
      href: 'https://www.instagram.com/ev_mediaaa?igsh=MXB5dGdkdTN3cXc5NA==',
      img: 'img/evmedia.png',
      alt: 'EV Media',
      width: 200,
      height: 184
    },
    {
      id: 33,
      href: 'https://affcatalog.com/en/',
      img: 'img/affcatalog.png',
      alt: 'Aff Catalog',
      width: 400,
      height: 122
    },
    {
      id: 27,
      href: 'https://traforce.com/ru',
      img: 'img/traforce.svg',
      alt: 'Traforce',
      width: 125,
      height: 23
    },
    {
      id: 27,
      href: 'https://trident-media.agency/',
      img: 'img/trident.svg',
      alt: 'Trident Media',
      width: 138,
      height: 18
    },
    {
      id: 24,
      href: 'https://wildwildapps.com/index-eng.php',
      img: 'img/wwg.png',
      alt: 'Wild Wild Apps',
      width: 200,
      height: 73
    },

    {
      id: 24,
      href: 'https://wintevents.com/',
      img: 'img/wint_events.svg',
      alt: 'Wintevents',
      width: 4147,
      height: 717
    },
    {
      id: 19,
      href: 'https://t.me/woman_gambling',
      img: 'img/female.png',
      alt: 'Woman Gambling',
      width: 131,
      height: 40
    },
    {
      id: 25,
      href: 'https://t.me/real_target',
      img: 'img/real.svg',
      alt: 'Real Target',
      width: 154,
      height: 44
    },
    {
      id: 12,
      href: 'https://affpapa.com/',
      img: 'img/affpapa.svg',
      alt: 'AffPapa',
      width: 137,
      height: 37
    },
    {
      id: 12,
      href: 'https://masons.partners/?utm_source=affhub',
      img: 'img/masons-traffic.svg',
      alt: 'masons traffic',
      width: 1000,
      height: 1000
    },
    {
      id: 13,
      href: 'https://t.me/affwriter',
      img: 'img/affj.png',
      alt: 'Aff Writer',
      width: 200,
      height: 61
    },
    {
      id: 41,
      href: 'https://traffter.com',
      img: 'img/traffter.png',
      alt: 'Traffter',
      width: 500,
      height: 250
    },
    {
      id: 36,
      href: 'https://hwyd.media/',
      img: 'img/hwyd_madia.svg',
      alt: 'HWYD Media',
      width: 300,
      height: 108
    },



















    // {
    //   id: 2,
    //   href: 'https://igaming.club/',
    //   img: 'img/igaming.png',
    //   alt: 'iGaming Club',
    //   width: 234,
    //   height: 70
    // },
    // {
    //   id: 10,
    //   href: 'https://t.me/kupets_traf',
    //   img: 'img/kupets-team.png',
    //   alt: 'Kupets Team',
    //   width: 130,
    //   height: 55
    // },
    // {
    //   id: 17,
    //   href: 'https://www.instagram.com/holytraff/',
    //   img: 'img/holy-traff.svg',
    //   alt: 'Holy Traff',
    //   width: 109,
    //   height: 63
    // },
    // {
    //   id: 37,
    //   href: 'https://t.me/clickstormcorp_chat',
    //   img: 'img/csc.svg',
    //   alt: 'ClickStorm Corp'
    // },
    // {
    //   id: 20,
    //   href: 'https://thedvizh.com/',
    //   img: 'img/dvizh.svg',
    //   alt: 'The Dvizh',
    //   width: 139,
    //   height: 19
    // },
    // {
    //   id: 21,
    //   href: 'https://trafficake.com/uk/',
    //   img: 'img/traffi.svg',
    //   alt: 'Trafficake',
    //   width: 140,
    //   height: 37
    // },
    // {
    //   id: 43,
    //   href: 'https://t.me/ftdcompany',
    //   img: 'img/ftdcompany.svg',
    //   alt: 'FTD Company'
    // },
    // {
    //   id: 23,
    //   href: 'https://triangles.pro/?fbclid=PAZXh0bgNhZW0CMTEAAabHWsVo7yn6_1oMS-ht33J-OTjXW5ZH2NxRG_PiCgDu4Cn9mJc_3xverpI_aem_XIShKsdanvccaURaR3ZQbA',
    //   img: 'img/triangles.svg',
    //   alt: 'Triangles',
    //   width: 144,
    //   height: 48
    // },
    // {
    //   id: 26,
    //   href: 'https://www.instagram.com/sempro.ukraine/?hl=en',
    //   img: 'img/sempro.svg',
    //   alt: 'Sempro Ukraine',
    //   width: 126,
    //   height: 34
    // },
    // {
    //   id: 30,
    //   href: 'https://t.me/facebookovich',
    //   img: 'img/FB.svg',
    //   alt: 'Facebookovich',
    //   width: 627,
    //   height: 521
    // },
    // {
    //   id: 32,
    //   href: 'https://www.instagram.com/affiliatepadelclub?igsh=dW5ieXp4a2Z3YnBj',
    //   img: 'img/paddle.svg',
    //   alt: 'Affiliate Padel Club',
    //   width: 544,
    //   height: 282
    // },
    // {
    //   id: 34,
    //   href: 'https://rockitmedia.io/?fbclid=PAZXh0bgNhZW0CMTEAAaZoeUdiqv-j5ypIjHADoHy3YALQiOaLEj71Rp9KdgKdW8I4W2kVTNXnEQI_aem_xTOynMrV-BQ2ps7jM8VzEQ',
    //   img: 'img/rokit.svg',
    //   alt: 'Rokit Media',
    //   width: 1184,
    //   height: 267
    // },
    // {
    //   id: 35,
    //   href: 'https://datify.link/en?utm_source=affhub&utm_medium=promo&utm_campaign=media',
    //   img: 'img/datifi.svg',
    //   alt: 'Datify'
    // },
    //
    // {
    //   id: 38,
    //   href: 'https://tracker.wild-traff.com/jC6dCw?sub1=wc&sub2=tg&sub3=affhub&sub4=mp&sub5=%7Bsub5%7D',
    //   img: 'img/wild-creo.svg',
    //   alt: 'Wild Creo'
    // },
    // {
    //   id: 39,
    //   href: 'https://www.instagram.com/muus.agency?igsh=MTNjeTFpZHJqcWRnNw==',
    //   img: 'img/muus.svg',
    //   alt: 'Muus Agency'
    // },
    // {
    //   id: 40,
    //   href: 'https://gambling.sharklink.org/?utm_source=affhub444&utm_medium=affhub444',
    //   img: 'img/shark.png',
    //   alt: 'Shark Link'
    // },
    // {
    //   id: 42,
    //   href: 'https://www.instagram.com/panch_agency',
    //   img: 'img/panch_agency.svg',
    //   alt: 'Panch Agency'
    // },
    // {
    //   id: 22,
    //   href: 'https://traffcore.com/ru',
    //   img: 'img/traffcore.svg',
    //   alt: 'Traffcore',
    //   width: 124,
    //   height: 49
    // },
    // {
    //   id: 44,
    //   href: 'https://www.instagram.com/traffhub.ua/',
    //   img: 'img/traffhub.png',
    //   alt: 'Traffhub'
    // },
    // {
    //   id: 7,
    //   href: 'https://vortexads.com/ua/',
    //   img: 'img/vortex.svg',
    //   alt: 'Vortex Ads',
    //   width: 120,
    //   height: 47
    // }
  ];

section.info-partners.block

  .wave-animation
    canvas.wave-animation__canvas

  .info-partners__ellipses.ellipses
    .ellipse.ellipse--red
    .ellipse.ellipse--turquoise
    .ellipse.ellipse--purple

  .container
    h2.title.info-partners__title Media Partners
    ul.info-partners-list
      each partner in mediaPartners
        li.info-partners-list__item(class=`info-partners-list__item--${partner.id}`)
          a(href=partner.href target="_blank").info-partners-list__link
            if partner.width && partner.height
              img(src=partner.img alt=partner.alt loading="lazy" width=partner.width height=partner.height).info-partners-list__img
            else
              img(src=partner.img alt=partner.alt loading="lazy").info-partners-list__img
